<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloudinnov.yun.openapi.dao.AlarmDataCollectionDao">
	<resultMap type="java.lang.Integer" id="int"></resultMap>
	<resultMap type="com.cloudinnov.yun.openapi.model.AlarmDataCollection" id="alarmDataCollectionMap">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="code" property="code" jdbcType="VARCHAR"/>
		<result column="trans_code" property="transCode" jdbcType="VARCHAR"/>
		<result column="type" property="type" jdbcType="INTEGER"/>
		<result column="grade" property="grade" jdbcType="INTEGER"/>
		<result column="equipment_code" property="equipmentCode" jdbcType="VARCHAR"/>
		<result column="point_code" property="pointCode" jdbcType="VARCHAR"/>
		<result column="context" property="context" jdbcType="VARCHAR"/>
		<result column="alarm_satus" property="alarmStatus" jdbcType="INTEGER"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
		<result column="last_update_time" property="lastUpdateTime" jdbcType="VARCHAR"/>
		<result column="status" property="status" jdbcType="INTEGER"/>
	</resultMap> 
	
	<select id="selectListByCondition" parameterType="com.cloudinnov.yun.openapi.model.AlarmDataCollection" resultMap="alarmDataCollectionMap">
		select code,trans_code,
		       (select name from transformer where code=trans_code) transName,
		        type,grade,equipment_code,
		        (select name from equipment_info where code = equipment_code) equipmentName,
		        point_code,(select name from point_info where code=point_code) pointName,
		        context,alarm_status,create_time createTime,
		        last_update_time lastUpdateTime
		      from alarm_data_collection where status !=9
			   <if test="code != null">
				   and code = #{code}
			   </if>
			   <if test="type != null">
			   	   and type = #{type}
			   </if>
			   <if test="grade != null">
			   	   and grade = #{grade}
			   </if>
			   <if test="transCode != null">
			   	   and trans_code = #{transCode}
			   </if>
			   <if test="equipmentCode != null">
			   	   and equipment_code = #{equipmentCode}
			   </if>
			   <if test="pointCode != null">
			   	   and point_code = #{pointCode}
			   </if>
			   <if test="alarmStatus != null">
			   	   and alarm_status = #{alarmStatus}
			   </if>
	</select>
	
	<select id="selectListCount" parameterType="com.cloudinnov.yun.openapi.model.AlarmDataCollection" resultType="java.util.Map">
		select count(id) count,
			 (select count(id) from alarm_data_collection where status !=9 and trans_code = #{transCode} and type=${@com.cloudinnov.yun.openapi.common.CommonUtils@ENVIRONMENT_ALARM}) envir,
			 (select count(id) from alarm_data_collection where status !=9 and trans_code = #{transCode} and type=${@com.cloudinnov.yun.openapi.common.CommonUtils@RUNNING_ALARM}) run,
			 (select count(id) from alarm_data_collection where status !=9 and trans_code = #{transCode} and type=${@com.cloudinnov.yun.openapi.common.CommonUtils@COMMUNICATION_ALARM}) com
              from alarm_data_collection where status !=9 and trans_code = #{transCode}
	</select>
	  
</mapper>