<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloudinnov.yun.openapi.dao.CarLocationDao" >
  <resultMap id="BaseResultMap" type="com.cloudinnov.yun.openapi.model.CarLocation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="car_num" property="carNum" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="location_msg" property="locationMsg" jdbcType="VARCHAR" />
    <result column="speed" property="speed" jdbcType="VARCHAR" />
    <result column="direct" property="direct" jdbcType="VARCHAR" />
    <result column="temp" property="temp" jdbcType="VARCHAR" />
    <result column="oil" property="oil" jdbcType="VARCHAR" />
    <result column="distance" property="distance" jdbcType="VARCHAR" />
    <result column="totalDis" property="totaldis" jdbcType="VARCHAR" />
    <result column="vhcofflinemin" property="vhcofflinemin" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, car_num, location, location_msg, speed, direct, temp, oil, distance, totalDis, 
    vhcofflinemin, create_time, last_update_time, status
  </sql>
  
  
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from car_location
    where status !=9 
    <if test="code!=null">
	    and code = #{code}
    </if>
    <if test="carNum!=null">
	    and car_num = #{carNum}
    </if>
  </select>


  <insert id="insert" parameterType="com.cloudinnov.yun.openapi.model.CarLocation" >
    insert into car_location
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="carNum != null" >
        car_num,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="locationMsg != null" >
        location_msg,
      </if>
      <if test="speed != null" >
        speed,
      </if>
      <if test="direct != null" >
        direct,
      </if>
      <if test="temp != null" >
        temp,
      </if>
      <if test="oil != null" >
        oil,
      </if>
      <if test="distance != null" >
        distance,
      </if>
      <if test="totaldis != null" >
        totalDis,
      </if>
      <if test="vhcofflinemin != null" >
        vhcofflinemin,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="carNum != null" >
        #{carNum,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="locationMsg != null" >
        #{locationMsg,jdbcType=VARCHAR},
      </if>
      <if test="speed != null" >
        #{speed,jdbcType=VARCHAR},
      </if>
      <if test="direct != null" >
        #{direct,jdbcType=VARCHAR},
      </if>
      <if test="temp != null" >
        #{temp,jdbcType=VARCHAR},
      </if>
      <if test="oil != null" >
        #{oil,jdbcType=VARCHAR},
      </if>
      <if test="distance != null" >
        #{distance,jdbcType=VARCHAR},
      </if>
      <if test="totaldis != null" >
        #{totaldis,jdbcType=VARCHAR},
      </if>
      <if test="vhcofflinemin != null" >
        #{vhcofflinemin,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByCondition" parameterType="com.cloudinnov.yun.openapi.model.CarLocation" >
    update car_location
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="carNum != null" >
        car_num = #{carNum,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="locationMsg != null" >
        location_msg = #{locationMsg,jdbcType=VARCHAR},
      </if>
      <if test="speed != null" >
        speed = #{speed,jdbcType=VARCHAR},
      </if>
      <if test="direct != null" >
        direct = #{direct,jdbcType=VARCHAR},
      </if>
      <if test="temp != null" >
        temp = #{temp,jdbcType=VARCHAR},
      </if>
      <if test="oil != null" >
        oil = #{oil,jdbcType=VARCHAR},
      </if>
      <if test="distance != null" >
        distance = #{distance,jdbcType=VARCHAR},
      </if>
      <if test="totaldis != null" >
        totalDis = #{totaldis,jdbcType=VARCHAR},
      </if>
      <if test="vhcofflinemin != null" >
        vhcofflinemin = #{vhcofflinemin,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where code = #{code}
  </update>
 
</mapper>