<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloudinnov.yun.openapi.dao.DissentDao">
	<resultMap type="java.lang.Integer" id="int"></resultMap>
	<resultMap type="com.cloudinnov.yun.openapi.model.Dissent" id="BaseResultMap">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="code" property="code" jdbcType="VARCHAR"/>
	 	<result column="duty_code" property="dutyCode" jdbcType="VARCHAR"/>
	 	<result column="takeover_user" property="takeoverUser" jdbcType="VARCHAR"/>
	 	<result column="handin_user" property="handinUser" jdbcType="VARCHAR"/>
	 	<result column="audit_user" property="auditUser" jdbcType="VARCHAR"/>
	 	<result column="context" property="context" jdbcType="VARCHAR"/>
	 	<result column="audit" property="audit" jdbcType="INTEGER"/>
	 	<result column="create_time" property="createTime" jdbcType="VARCHAR"/>
	 	<result column="status" property="status" jdbcType="INTEGER"/>
	</resultMap>
	
	<sql id="Base_Column_List">
		id, code, duty_code, takeover_user, handin_user, 
		audit_user, context, audit, create_time, status
	</sql>
	
	<insert id="insert" parameterType="com.cloudinnov.yun.openapi.model.Dissent">
		insert into dissent
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="code != null">
				code,
			</if>
			<if test="dutyCode != null">
				duty_code,
			</if>
			<if test="takeoverUser != null">
				takeover_user,
			</if>
			<if test="handinUser != null">
				handin_user,
			</if>
			<if test="auditUser != null">
				audit_user,
			</if>
			<if test="context != null">
				context,
			</if>
			<if test="audit != null">
				audit,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createTime != null">
				create_time
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="dutyCode != null">
				#{dutyCode,jdbcType=VARCHAR},
			</if>
			<if test="takeoverUser != null">
				#{takeoverUser,jdbcType=VARCHAR},
			</if>
			<if test="handinUser != null">
				#{handinUser,jdbcType=VARCHAR},
			</if>
			<if test="auditUser != null">
				#{auditUser,jdbcType=VARCHAR},
			</if>
			<if test="context != null">
				#{context,jdbcType=VARCHAR},
			</if>
			<if test="audit != null">
				#{audit,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<delete id="deleteByCondition">
		update dissent
		set status = 9
		where code = #{code,jdbcType=VARCHAR}
	</delete>
	
	<update id="updateByCondition" parameterType="com.cloudinnov.yun.openapi.model.Dissent">
		update dissent
		<set>
			<if test="dutyCode != null">
				duty_code = #{dutyCode,jdbcType=VARCHAR},
			</if>
			<if test="takeoverUser != null">
				takeover_user = #{takeoverUser,jdbcType=VARCHAR},
			</if>
			<if test="handinUser != null">
				handin_user = #{handinUser,jdbcType=VARCHAR},
			</if>
			<if test="auditUser != null">
				audit_user = #{auditUser,jdbcType=VARCHAR},
			</if>
			<if test="context != null">
				context = #{context,jdbcType=VARCHAR},
			</if>
			<if test="audit != null">
				audit = #{audit,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="createTime!=null">
				create_time = #{createTime,jdbcType=VARCHAR},
			</if>
		</set>
		where code = #{code,jdbcType=VARCHAR}
	</update>
	
	<select id="selectEntityByCondition" resultMap="BaseResultMap" parameterType="com.cloudinnov.yun.openapi.model.Dissent">
		select
		id, code, duty_code, (select name from auth_user_info where code=takeover_user) takeoverUserName,
		(select name from auth_user_info where code=handin_user) handinUserName, 
		(select name from auth_user_info where code=audit_user) auditUserName, 
		context, audit, create_time, status
		from dissent
		where 1 = 1 
		<if test="code != null">
			AND code = #{code,jdbcType = VARCHAR} 
		</if>
		<if test="audit != null">
			and audit = #{audit} 
		</if>
		<if test="dutyCode != null">
			and duty_code = #{dutyCode} 
		</if>
	</select>
	
	<select id="selectListByCondition" resultMap="BaseResultMap" parameterType="com.cloudinnov.yun.openapi.model.Dissent">
		select
		id, code, duty_code, (select name from auth_user_info where code=takeover_user) takeoverUserName,
		(select name from auth_user_info where code=handin_user) handinUserName, 
		(select name from auth_user_info where code=audit_user) auditUserName, 
		context, audit, create_time, status
		from dissent
		where 
		status = 1
		<if test="code != null">
			AND code = #{code,jdbcType = VARCHAR}
		</if>
		<if test="dutyCode != null">
			AND duty_code = #{dutyCode,jdbcType=VARCHAR}
		</if>
		<if test="takeoverUser != null">
			AND takeover_user = #{takeoverUser,jdbcType=VARCHAR}
		</if>
		<if test="handinUser != null">
			AND handin_user = #{handinUser,jdbcType=VARCHAR}
		</if>
		<if test="auditUser != null">
			AND audit_user = #{auditUser,jdbcType=VARCHAR}
		</if>
		<if test="context != null">
			AND context like CONCAT(#{context,jdbcType = VARCHAR},'%')
		</if>
		<if test="audit != null">
			AND audit = #{audit,jdbcType = VARCHAR}
		</if>
	</select>
	
</mapper>
