<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloudinnov.yun.openapi.dao.FaultTranslationLibrariesDao">
	<resultMap id="int" type="java.lang.Integer">
	</resultMap>
	<resultMap id="ftlList" type="com.cloudinnov.yun.openapi.model.FaultTranslationLibraries">
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="BaseResultMap" type="com.cloudinnov.yun.openapi.model.FaultTranslationLibraries">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="oem_code" property="oemCode" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="language" property="language" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="comment" property="comment" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="last_update_time" property="lastUpdateTime"
			jdbcType="VARCHAR" />
		<result column="languages" property="languages" />
	</resultMap>
	<sql id="Base_Column_List">
		id, oem_code, code, name, status, comment,
		create_time,language,
		last_update_time,type
	</sql>

	<insert id="insert" parameterType="com.cloudinnov.yun.openapi.model.FaultTranslationLibraries">
		insert into fault_translation_library
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="oemCode != null">
				oem_code,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="type != null">
				type,
			</if>
			status,
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="oemCode != null">
				#{oemCode,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			1,
			<if test="createTime != null">
				#{createTime,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<insert id="insertInfo" parameterType="com.cloudinnov.yun.openapi.model.FaultTranslationLibraries">
		insert into fault_translation_library_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="language != null">
				language,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="comment != null">
				comment
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="language != null">
				#{language,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="comment != null">
				#{comment,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByCondition" parameterType="com.cloudinnov.yun.openapi.model.FaultTranslationLibraries">
		update fault_translation_library
		<set>
			<if test="oemCode != null">
				oem_code = #{oemCode,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="lastUpdateTime != null">
				last_update_time = #{lastUpdateTime,jdbcType=VARCHAR},
			</if>
		</set>
		where code = #{code,jdbcType=VARCHAR}
	</update>

	<update id="updateInfoByCondition" parameterType="com.cloudinnov.yun.openapi.model.FaultTranslationLibraries">
		update fault_translation_library_info
		<set>
			<if test="language != null">
				language = #{language,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="comment != null">
				comment = #{comment,jdbcType=VARCHAR},
			</if>
		</set>
		where code = #{code,jdbcType=VARCHAR}
		AND language = #{language,jdbcType=VARCHAR}
	</update>


	<update id="deleteByCondition" parameterType="com.cloudinnov.yun.openapi.model.FaultTranslationLibraries">
		update
		fault_translation_library
		set
		status = 9
		where code = #{code,jdbcType=VARCHAR}
	</update>

	<select id="selectListByCondition" resultMap="BaseResultMap">
		SELECT
		lib.oem_code, lib.code, info.name, lib.status, info.comment,lib.type,
		lib.create_time,info.language,lib.last_update_time,
		(select group_concat(language SEPARATOR ',') as languages
		FROM
		fault_translation_library_info
		WHERE code = lib.code group by code) languages
		FROM
		fault_translation_library lib
		JOIN fault_translation_library_info info
		ON info.code = lib.code
		WHERE lib.status = 1
		<if test="oemCode != null">
			AND lib.oem_code = #{oemCode,jdbcType=VARCHAR}
		</if>
		AND lib.type = #{type,jdbcType=INTEGER}
	</select>

	<select id="selectEntityByCondition" parameterType="com.cloudinnov.yun.openapi.model.FaultTranslationLibraries"
		resultMap="BaseResultMap">
		SELECT lib.oem_code, lib.code, info.name, lib.status, info.comment,lib.type,
		lib.create_time,info.language,lib.last_update_time
		FROM
		fault_translation_library lib
		LEFT JOIN fault_translation_library_info
		info ON info.code = lib.code
		WHERE lib.status = 1 AND lib.oem_code =
		#{oemCode,jdbcType=VARCHAR}
		<if test="code!=null and code!='' ">
			AND lib.code = #{code,jdbcType=VARCHAR}
		</if>
		AND info.language = #{language,jdbcType=VARCHAR}
	</select>
	<select id="listByCode" resultMap="ftlList">
		SELECT
		<include refid="Base_Column_List" />
		FROM fault_translation_library
		where status = 1 and
		oem_code = #{0}
	</select>

</mapper>