<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloudinnov.yun.openapi.dao.OperationDao">
	<resultMap type="java.lang.Integer" id="int"></resultMap>
	<resultMap type="com.cloudinnov.yun.openapi.model.Operation" id="BaseResultMap">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="code" property="code" jdbcType="VARCHAR"/>
	 	<result column="name" property="name" jdbcType="VARCHAR"/>
	 	<result column="company" property="company" jdbcType="VARCHAR"/>
	 	<result column="number" property="number" jdbcType="VARCHAR"/>
	 	<result column="task" property="task" jdbcType="VARCHAR"/>
	 	<result column="create_time" property="createTime" jdbcType="VARCHAR"/>
	 	<result column="last_update_time" property="lastUpdateTime" jdbcType="VARCHAR"/>
	 	<result column="status" property="status" jdbcType="INTEGER"/>
	 	<collection property="operationInfoList" resultMap="oprationInfoMap"></collection>
	</resultMap>
	
	<resultMap type="com.cloudinnov.yun.openapi.model.OperationInfo" id="oprationInfoMap">
		<id column="oid" property="oid" jdbcType="INTEGER"/>
		<result column="code" property="code" jdbcType="VARCHAR"/>
		<result column="context" property="context" jdbcType="VARCHAR"/>
		<result column="orderby" property="orderby" jdbcType="VARCHAR"/>
	</resultMap>

	
	<select id="selectListByCondition" resultMap="BaseResultMap" parameterType="com.cloudinnov.yun.openapi.model.Operation">
		select substring_index(op.name,'_',1) name,op.* 
		from operation op 
		where op.status = 1 
		group by substring_index(op.name,'_',1)
	</select>
	
	<select id="selectEntityByCondition" parameterType="com.cloudinnov.yun.openapi.model.Operation" resultMap="BaseResultMap">
		select * from operation where 1=1
		<if test="code != null">
			and code = #{code,jdbcType=VARCHAR} 
		</if>
		<if test="name != null">
			and name = #{name,jdbcType=VARCHAR} 
		</if>
		<if test="company != null">
			and company = #{company,jdbcType=VARCHAR} 
		</if>
		limit 1
	</select>
	
	<select id="selectListByInfo" resultMap="BaseResultMap" parameterType="com.cloudinnov.yun.openapi.model.Operation">
		select * from (
				 select op.*,opinfo.context,opinfo.orderby 
				 from operation op 
				 join operation_info opinfo on op.code = opinfo.code 
				 where op.status = 1 
				 <if test="code != null">
					and op.code = #{code,jdbcType=VARCHAR}
				</if>
				<if test="name != null">
					and op.name = #{name,jdbcType=VARCHAR}
				</if>
				<if test="number != null">
					and op.number = #{number,jdbcType=VARCHAR}
				</if>
			  ) top  order by top.orderby 
	</select>
	
	<select id="selectListByName" parameterType="String" resultMap="BaseResultMap">
		select * from operation where name like concat(#{_parameter,jdbcType=VARCHAR},'%') and status = 1 order by name
	</select>
</mapper>
